* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 13px;

}

nav a {
    font-size: 13px;
    display: flex;
    margin-left: 8px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    padding: 5px 6.7px;

}

nav>a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

nav img {
    width: 34px;
    margin: auto 7px;
    padding: 5px;
    cursor: pointer;

}

nav img:hover {
    opacity: 0.85;

}

nav input {
    border: 1px solid #1a73e8;
    font-weight: 300;
    color: white;
    background: #1a73e8;
    padding: 9px 26px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 7px;
}

section {
    flex: 1;
}

.google {
    display: block;
    margin: 0px auto;
    margin-top: 15px;
    height: 92px;
    width: 272px;
    transition: 300ms ease-in-out;


}

.google:hover {
    opacity: 0.32;

}

.search {
    width: 584px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;


}

.search input {
    display: block;
    border: 1px solid #ddd;
    color: black;
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 30px;
    transition: box-shadow 100ms;
    margin: 0px auto;
    width: 584px;
    outline: none;
}

.search input:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

#search-img {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 20px;
    opacity: 0.4;
}

section h2 {
    text-align: center;
}

#vs {
    position: absolute;
    top: 13px;
    right: 24px;
    width: 14px;
}

#button1 {
    display: flex;
    margin-top: 30px;
    height: 50px;

    justify-content: center;
}

#button1 button {
    font-size: 14px;
    padding: 8px;
    margin: 0px 5px;
    background-color: #f8f9fa;
    color: #76797c;
    border: none;
    border-radius: 4px;
    height: 40px;

}

#button1 button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.offered {
    position: static;
    display: block;
    line-height: 48px;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

.offered a {
    margin-left: 10px;
}

.footer1 {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    height: 48px;
    padding: 0px 15px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

.footer1 h4 {
    margin: 0px 20px;

}

.footer2 {
    background: #f2f2f2;

}

.footer2 a {
    display: inline-block;
    color: #70757a;
    padding: 12px 11.4px;
    font-size: 14px;
}

.foot1 {
    float: left;
    margin: 0px 20px;
}

.foot2 {
    float: right;
    margin: 0px 20px;
}

.footer2 a:hover {
    text-decoration: underline;
}